/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-Mar-2019, 11:43:25 AM
    Author     : shiva
*/

body{
        width:100%;
        height:100%;
        margin:0;
}
a{
    text-decoration: none;
    background-color: transparent;
    color:#ededed;
}
.banner{
    padding-bottom: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: #f8f8f8;
    background: url(image/intro-bg_1.jpg) no-repeat center center;
    background-size: cover;
}
.inner-banner{
    padding-top: 12%;
    width:80%;
    margin:auto;
}
.banner-context{
   position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    overflow:hidden;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}
footer{
    padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
    bottom: 0;
    width: 100%;
}
.rowstyle
{
    margin-top: 15px;
}
.opt{
    padding-right: 2cm
}
.link{
    text-decoration: none;
    background-color: transparent;
    color:black;
}